bitcamp-xml/ex4/test01.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ELEMENT items (author*,press*,book*)>
<!ELEMENT book (#PCDATA)>
<!ATTLIST book
    title CDATA #REQUIRED
    author IDREFS #REQUIRED
    press IDREF #REQUIRED
>
<!ELEMENT author (#PCDATA)>
<!ATTLIST author
    name CDATA #REQUIRED
    id  ID #REQUIRED
>
<!ELEMENT press (#PCDATA)>
<!ATTLIST press
    name CDATA #REQUIRED
    id  ID #REQUIRED
>






